*, p, h1, h2, h3, h4, h5, h6, body {
  font-family: 'Changa', sans-serif;
}

.logo {
  height: 43px;
  width: 49px !important;
}

.header-name {
  color: #03895e;
}

.menu-item {
  color: #03895e !important;
}

.menu-title {
  text-align: center;
  font-family: 'Changa', sans-serif;

}